/* Shared elements*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Banner Elements*/

.banner {
  height: 100dvh;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text-area {
  padding-right: 250px;
  float: right;
  text-align: right;
  width: 800px;
  color: white;
  padding-top: 15%;
}
.banner-main-text {
  line-height: 1;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.banner-paragraph {
  margin-bottom: 40px;
}
.banner-button {
  margin-top: 50px;
  background-color: white;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 10px;
}
.banner-button {
  text-decoration: none;
  color: #00489b;
  font-weight: 800;
}

/* Problem Statement - Middle Section*/

.middle-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.middle-text {
  width: 400px;
}
.middle-text h2 {
  font-size: 3rem;
  line-height: 1;
}
.middle-text h2 span {
  color: #00489b;
}
.middle-text > h2,
p {
  padding-bottom: 20px;
}
.middle-text h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 3px;
}
.middle-text h3 span {
  color: #00489b;
}

/* Goals Section*/

.my-plan {
  text-align: center;
  margin-top: 150px;
}

.plans {
  margin-top: 70px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  text-align: center;
}
.plans img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}
.plans h4 {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
}
/* Positioning Statements*/

.cta {
  border-radius: 15px;
  background: linear-gradient(90deg, #00489b 0%, rgba(241, 91, 34, 0) 100%),
    url(../images/watch.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  color: white;
  text-align: left;
}
.cta h1 {
  font-size: 2.5rem;
  font-weight: 700;
  padding-left: 75px;
  padding-top: 90px;
  padding-bottom: 30px;
}
.cta a {
  background-color: white;
  margin-left: 75px;
  margin-top: 15px;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
}

/* Footer*/

footer {
  position: relative;
  padding: 130px 230px;
  margin-top: 130px;
  background-color: #151414;
  display: flex;
  justify-content: space-between;
  color: #f8f8f8;
  height: 560px;
}
.footer-left {
  width: 485px;
}
.footer-left h1 {
  padding-bottom: 20px;
}

.footer-left h3 {
  font-size: 1rem;
  padding-bottom: 10px;
  font-weight: 400;
}
.social-icons i {
  padding-top: 20px;
  padding-right: 10px;
  color: #00489b;
}
.social-icons a {
  text-decoration: none;
}
.footer-right {
  width: 400px;
}
.footer-right h1 {
  padding-bottom: 20px;
}
.footer-right input {
  width: 250px;
  padding: 12px 10px;
  margin-bottom: 25px;
  background-color: transparent;
  border: 1px solid #00489b;
  border-radius: 5px;
}
.footer-button {
  background-color: white;
  margin-top: 15px;
  padding: 12px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  color: #00489b;
}
/* Copyright Section*/
.copyright {
  position: absolute;
  color: white;
  text-align: center;
  inset: 0;
  margin: auto;
  font-weight: 100;
  font-size: 1rem;
  top: 90%;
}
