/* Shared elements*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.banner {
  height: 100dvh;
  background-image: url("../images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text-area {
  padding-right: 250px;
  float: right;
  text-align: right;
  width: 800px;
  color: white;
  padding-top: 15%;
}
.banner-main-text {
  line-height: 1;
  font-size: 4rem;
  padding-bottom: 1rem;
}
.banner-paragraph {
  margin-bottom: 40px;
}
.banner-button {
  margin-top: 50px;
  background-color: white;
  padding: 12px 30px;
  font-size: 1rem;
  border-radius: 10px;
}
.banner-button {
  text-decoration: none;
  color: #00489b;
  font-weight: 800;
}
.middle-container {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}
.middle-text {
  width: 400px;
}
.middle-text h2 {
  font-size: 3rem;
  line-height: 1;
}
.middle-text h2 span {
  color: #00489b;
}
.middle-text > h2,
p {
  padding-bottom: 20px;
}
.middle-text h3 {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 3px;
}
.middle-text h3 span {
  color: #00489b;
}
.my-plan {
  text-align: center;
  margin-top: 150px;
}

.plans {
  margin-top: 70px;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
  text-align: center;
}
.plans img {
  height: 100px;
  width: auto;
  margin-bottom: 20px;
}
.plans h4 {
  font-size: 1rem;
  color: gray;
  font-weight: 400;
}
